.itemSelector {
  border: 2px solid black;
  padding: 5px;
}

.itemSelector button {
  padding: 5px;
  background: lightgray;
  border: 1px solid grey;
  cursor: pointer;
  margin-right: 5px;
}

.itemSelector button.active {
  background: grey;
}